SITE_LINK=https://reportplatform.com
SMTP_PORT=465
SITE_NAME=reportplaform


DB_NAME=
DB_USER=
DB_HOST=
DB_PORT=3306
DB_PASS=
JWT_SECRET=


SMTP_USER=info@reportplatform.com
SMTP_HOST=smtp.hostinger.com
SMTP_PASS=


PROPERTY_DB_HOST=217.21.76.101
PROPERTY_DB_PORT=3306
PROPERTY_DB_USER=u658202322_sdsdcsdc1
PROPERTY_DB_NAME=u658202322_properties
PROPERTY_DB_PASS=

P_DB_HOST=217.21.76.101
P_DB_PORT=3306
P_DB_USER=u658202322_sdsdcsdc2
P_DB_PASS=


FTP_USER=u845782864
FTP_BASE_PATH=/public_html/images
FTP_PUBLIC_URL=https://images.reportplaform.com
FTP_HOST=156.67.75.41
FTP_PASSWORD=

GEO_IP_API=

FTP_IP=ftp://27.37.34.38
FTP_HOST_NEW=ftp://reportplatform.com
FTP_USERNAME=u1232976026
FTP_BASE_PATH=public_html